body{
    background-color: aqua;
    text-align: center;
    justify-content: center;
    align-items: center;
}
table{
    border: 2px;
}
.container{
    border-radius: 1px;
    border: 4px solid gray;
    background-color: white;
    margin: auto;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    /*    text-align: justify;*/
}


.footermain{
    margin-top: 1rem;
    padding-top: 1rem;
    font-style: italic;
}


#cabecera{
    background-color: rgb(10, 10, 66);
    color: white;    
    font-family: sans-serif;
}

.logo-principal{
    height: 80px;
    width: auto;
}
.title-header{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding-top: 1rem;
}
body{
    background-color: rgb(10, 10, 20);
}
