<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='estilos.css')}}">
    <title>Mi blog 2.0</title>
</head>

<body>

    <div id="cabecera">
        <strong>
            <h2 class="title-header">
                <img class="logo-principal" src="{{url_for('static',filename='minilogo.png')}}" alt="logo"> NelBlog
            </h2>
        </strong><br>
        Cabecera del blog modificado por DEV2
    </div>
    <div class="container">

        <head>
            <h2>Título del contenido</h2>
        </head>
        <main> 
            Este es el p&aacute;rrafo sobre la hisotria incre&iacute;ble de este blog, así
            se puede decir que soy un <strong>tet&oacute;nidas jaa</strong>.
        </main>
        <footer class="footermain">
            Hecho por: <strong>Su majestad tetónidas</strong> 
            <strong>Hacemos esto con pasión</strong> 
	        Visítanos en calle tus esperanzas :V
        </footer>
    </div>

</body>

</html>
