<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Este es la cabecera</title>
</head>

<body>
    <h1>Este es el título</h1>
    <div class="container">

        <head>
            <h2>Título</h2>
        </head>
        <main>
            Contenido principla
        </main>
        <footer>
            Footer del contenido
        </footer>
    </div>

</body>

</html>