<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Este es la cabecera</title>
</head>

<body>
    <h1>Este es el título que ha cambiado</h1>
    <div id="cabecera">
        <strong><h2>NelBlog</h2></strong>

        Cabecera del blog
    </div>
    <div class="container">

        <head>
            <h2>Título</h2>
        </head>
        <main>
            Este es el parrafo sobre la hisotria de este blog, así
            se puede decir que soy un <strong>tetonidas jaa</strong>.
        </main>
        <footer class="footermain">
            Hecho por: <strong>Su majestad tetónidas</strong> 
        </footer>
    </div>

</body>

</html>
